.empty {
  width: 64px;
  height: 64px;
  background-image: url('src/img/spr_floor.png');
}

.target {
  width: 100%;
  height: 100%;
  background-image: url('src/img/place.gif');
}

.player {
  width: 100%;
  height: 100%;
  background-image: url('src/img/spr_player.png');
}

.player-target {
  width: 100%;
  height: 100%;
  content: url('src/img/spr_player.png');
  background-image: url('src/img/spr_player_target.png');
}

.box {
  width: 100%;
  height: 100%;
  background-image: url('src/img/spr_box.png');
}

.box-ok {
  width: 100%;
  height: 100%;
  background-image: url('src/img/spr_box_placed.png');
}

.wall {
  width: 100%;
  height: 100%;
  background-image: url('src/img/spr_wall.png');
}