:root {
  --playerImg: url("src/img/spr_player_right.png");
}

.cell-animation-outer {
  position: relative;
}
.cell-inner {
  position: absolute;
  right: 0;
  bottom: 0;
  transition-duration: 200ms;
}
.cell-inner-start-10 {
  position: absolute;
  right: 64px;
}
.cell-inner-start--10 {
  position: absolute;
  right: -64px;
}
.cell-inner-start-01 {
  position: absolute;
  bottom: 64px;
}
.cell-inner-start-0-1 {
  position: absolute;
  bottom: -64px;
}

.empty {
  width: 64px;
  height: 64px;
  background-image: url("src/img/spr_floor.png");
}

.target {
  width: 64px;
  height: 64px;
  background-image: url("src/img/place.gif");
}

.player {
  width: 64px;
  height: 64px;
  background-image: var(--playerImg); /*url("src/img/spr_player.png");*/
}

.player-target {
  width: 64px;
  height: 64px;
  background-image: var(--playerImg); /*url("src/img/spr_player_target.png");*/
}

.box {
  width: 64px;
  height: 64px;
  background-image: url("src/img/spr_box.png");
}

.box-ok {
  width: 64px;
  height: 64px;
  background-image: url("src/img/spr_box_placed.png");
}

.wall {
  width: 64px;
  height: 64px;
  background-image: url("src/img/spr_wall.png");
}

.black {
  width: 64px;
  height: 64px;
  background-color: black;
}
