.wall {
  width: 100px;
  height: 100px;
  background-color: black;
}

.player {
  width: 100px;
  height: 100px;
  background-color: red;
}

.box {
  width: 100px;
  height: 100px;
  background-color: green;
}

.target {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.box-on-target {
  width: 100px;
  height: 100px;
  background-color: purple;
}

.player-on-target {
  width: 100px;
  height: 100px;
  background-color: red;
}
