.bg-game-over {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game-over-msg {
    font-family: 'RetroGame';
    color: yellow;
    font-size: 60px;
    /* font-weight: bold; */
    text-shadow: 5px 5px 10px black;
    text-shadow: 0px 1px 30px blac
}