.game-board {
  display: grid;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  padding-block: 100px;
  
}

.game-board .cell {
  height: 100%;
  width: 100%;
}

.game-board-button-section {
  width: 100%;
  padding-block: 10px 20px;
  margin-inline: auto;
  background-color: #363636;
}
