.info {
  font-family: "RetroGame";
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  height: 40px;
  background: #444;
  color: white;
  /* font-weight: bold; */
}
