@font-face {
    font-family: 'RetroGame';
    src: url(/src/fonts/Born2bSportyFS.otf);
}


#the-menu {
    font-family: 'RetroGame';
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363636;
    height: 80px;
    width: 100%;
}

#the-menu p {
    margin-right: 2rem;
}

#the-menu .menu-info {
    display: inline;
    font-size: larger;
}

.menu-game-button{
    font-family: 'RetroGame';
    font-size: 1.3rem;
    background: #363636;
    color: white;
    width: auto;
    height: 44px;
    border-radius: 9px;
    border: 4px solid #f8b81d;
    margin-left: 1cqb;
}

.menu-game-button:hover {
    font-size: 1.5rem;
    height: 50px;
    background: #676464;
    border: 4px solid #ffce2d;
}
