.container {
    width: 100%;
    height: 600px;
    padding-top: 3rem;
    background-color: #363636;
    font-family: 'RetroGame';
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.arrow {
    margin-left: 1rem;
}

.equals {
    margin-right: 1rem;
}