.start-container {
    width: 100%;
    height: 600px;
    height: max-content;
    padding-top: 2rem;
    background-color: #363636;
    border-top: 1px solid #5559;
    border-bottom: 1px solid #5559;
    font-family: 'RetroGame';
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.start-container .instruction:last-child {
    margin-bottom: 1rem;
}

.start-container .text {
    margin-bottom: 0.6rem;
}

.arrow {
    margin-left: 1rem;
}

.equals {
    margin-right: 1rem;
}