.win-screen {
    width: 600px;
    height: 500px;
    font-family: 'RetroGame';
    color: gold;
    /* font-weight: bold; */
    text-shadow: 5px 5px 10px yellow;
    text-shadow: 0px 1px 30px yellow;
    background-image: url('/src/img/fireworks.gif');
    background-size: cover;
    position: absolute;
    transform: translate(320px, 150px);
    box-shadow: 5px 5px 10px whitesmoke;
    box-shadow: 0px 1px 30px whitesmoke;
}

.win-screen h1 {
    font-size: 60px;
}

.win-screen h2 {
    font-size: 40px;
}