#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.board-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 64px 0;
}
