#root {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    min-width: 560px;
}

.board-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 64px 0;
}

.playground {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
    background-color: black;
}
